@import "variables";
@import "mixins";
@import "bootstrap";

body {
  background-color: @backgroundColor;
  color: @primaryColor;
}
#wrapper {
  height: auto;
  min-height: 200px;
  background-color: @deepSkyBlue;
}